<div class='span10'">

<div id="AttributeList" style="float: left;width:900px;">


<div style="margin-left:40px;">
<%= form_tag(search_path,:method => 'post') %>


 

<h3> Enter Your Twitter Handle : @   
<%= text_field_tag (:username) %></h3>

 
<%= submit_tag 'Generate Cloud', :class => "btn btn-large btn-danger" , :style=>"margin-left:300px" %>

</div>
</div>


