<h1>Tweets Cloud </h1>


<div class='span8' style='float: left;background: white;min-height: 500px;width: 90%;border-radius: 10px 10px 10px 10px;'>

<div style="clear: both; display: block; height: 30px;"></div>



    
    

<div id="my_favorite" style="width: 90%; height: 450px; border: 1px solid #ccc;margin-left: 30px;"></div>

<div style="clear: both; display: block; height: 30px;"></div>




<div style="clear: both; display: block; height: 20px;"></div>
</div>



 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
 <link rel="stylesheet" type="text/css" href="/assets/jqcloud.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="/assets/jqcloud.js"></script>


    <script type="text/javascript">
      var list = <%= raw(@hash) %>;
      var list1 = list;
      console.log(list1);
        $(function() {
        $("#my_favorite").jQCloud(list1);
      });


    </script>

    
   <!-- $("#my_favorite").jQCloud(list1, {shape: "rectangular"}); -->