/* body{
  width:100%;
  height:auto;
  background-image:url('/assets/cloud3.jpg');
  background-size:100%;
}*/

.cloud{
margin-top: -0px;
}

.xmpl {
    list-style: square;
    margin: 16px 0px;
    padding: 10px 15px 10px 15px !important;
    width:auto;
    -webkit-border-radius:50px;
    padding-left:20px; 
    margin-bottom:100px;    
}

.output-buttons {
    font-size: 1.2em;
    margin-top: 10em;
}

.output-buttons .btn {
    margin-right: 1%;
    font-size: 1.2em;
}

.instructions{
    background-color: rgba(248, 248, 248, 0.9); !important;
    color: rgba(248, 248, 248, 0.5);
    width:auto;
    -webkit-border-radius:50px;
    margin-top: 2em;

    padding: 2em;
    color: #7B2B8B;
    font-size: 1.2em;
}

.instructions li {
    line-height: 30px;
}

.heading {
   margin-top: -30px;
    margin-left: 28%;font-size: 2em;
    height: 2%;
    z-index: 9999999;
    position: absolute;
    color: white;
}

.anti-fineprint {
    font-weight: bold;
    font-size: 1.2em;
}

/*    background-color: rgba(248, 248, 248, 0.5);
    color: rgba(248, 248, 248, 0.5);*/